<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\DLPManagementSystem.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="ConnectionStrings__DefaultConnection" value="Server=161.97.90.171,8797;Database=DLPSystem;User Id=dlp_app_user;Password=dlp@Password!1200;TrustServerCertificate=True;" />
          <environmentVariable name="Jwt__SecretKey" value="pX97F6aRLEGLjptuArXubw==kSoumqnPW0+N8J13h2oKQw==iXxN93armUmNIqR6f377CQ==" />
          <environmentVariable name="PolicySigning__PrivateKeyPem" value="-----BEGIN PRIVATE KEY-----&#xA;MIGHAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBG0wawIBAQQgqfj8H+HeFmBioMlu&#xA;RCItKVsqatkC8M/rFoocMFN40rOhRANCAATQqZaabizrY8sQBxyi6ymyUtXI+fL8&#xA;aqHYFuzZ8E9SW8cFhvtKEebxNzBc9XlZXqNDHT+NVNmPc4PRs32Z7Ht3&#xA;-----END PRIVATE KEY-----" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 3f4f6838-8720-4f56-af2a-723bd2e14496-->
